*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*agrega la fuente del pdf*/
@font-face{
    font-family:comici;
    src: url('./fonts/comici.ttf') format('truetype');

}
*{
    font-family: comici;
}
header{
    height: 77vh;
    width: 100vw;
}
/*secciondel titulo principal*/
h1{
    font-size:60px;
    width: 820px;
    height: 50px;
    margin-left: 100px;
   margin-top: 0px;
}
/*seccion de la barra de navegacion*/
nav{
    margin: 10px;
    text-align: right;   
    border-radius: 0.5px; 
    padding: 5px;
    position:relative;
}

nav>a{
    margin: 5px;
    padding: 2px 9px 2px 9px;
    border: 2px solid black;    
    color: beige;
    text-decoration: none;
    font-size: 25px;    
    background-color:#4571c3;
    box-shadow: 5px 5px 8px rgb(0, 0, 0);
}

nav>a:hover{
    color: beige;
    background-color: rgb(128, 0, 128);
}
nav>a:active{
    background-color: rgb(160, 14, 9);
}
nav>a[href="#"]{
    background-color:#6fab46;
}
/*seccion del encabezado e imagen*/
.encabezado{
   height: 58vh;
   width: 100vw;
    margin-top: -30px;
}
/*seccion del segundo titulo debajo de la imagen*/
h2{
    border:2px solid black;
    text-align: center;
    margin-top: -5px;    
}
/*seccion del cuerpo*/
main{
    width: 100vw; 
    height: 70vh;
    top: -10px;
}

/*tamaño del logo*/
.logo{
    height: 9em;
    position: relative;
    top: -5px;
}
/*posicion y tamaño de los div del logo y parrafos*/
.caja1{
    width: 20vw;
    
}
.caja2{
    width: 70vw;
    position: absolute;
    top: 80vh;
    left: 20vw;
}

/*fondo con las imagenes para cada main*/

#mAbout{
    background: linear-gradient(rgba(255, 255, 255, .6), rgba(255, 255, 255, .6)), url(./img/hockey_2.jpg);
    background-repeat: no-repeat;    
    background-size: cover;
}
#mContact{
    background: linear-gradient(rgba(255, 255, 255, .6), rgba(255, 255, 255, .6)), url(./img/hockey_3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
/*queria poner la imagen de fondo en el body y colocarle opacity, pero sin que me afecta al logo y al texto asi que puse 
un div vacio. Por eso hay un div vacio que uso de fondo y aplico las propiedades sin afectar al resto*/
#background-image {
    background-image: url('./img/hockey_1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.3; 
    height: 100vh; 
    width: 100vw; 
    position: absolute;
    top: 80vh;
    left: 0;
  }
  /*seccion de articulos */
  article{
    margin-bottom: 20px;
  }
  /*logo de contacto*/
 